:root {
  /* Semantic Colors */

  /* === 브랜드 primay */
  --color-primary: var(--color-primary-900);
  --color-primary-contrast: var(--white);
  --color-primary-hover: var(--color-primary-400);
  --color-primary-focus: var(--color-primary-600);

  /* === 브랜드 Secondary === */
  --color-secondary: var(--color-secondary-500);
  --color-secondary-contrast: var(--white);
  --color-secondary-hover: var(--color-secondary-400);
  --color-secondary-focus: var(--color-secondary-600);

  /* === 텍스트 Colors === */
  --color-text-brand: var(--color-primary); /* 브랜드 텍스트 */
  --color-text-primary: var(--gray-900); /* 기본 텍스트 */
  --color-text-secondary: var(--gray-600); /* 보조 텍스트 */
  --color-text-tertiary: var(--gray-500); /* 약한 텍스트 */
  --color-text-white: var(--white);
  --color-text-placeholder: var(--gray-400);
  --color-text-disabled: var(--gray-500);

  /* === 베이스 Colors === */
  --color-base-white: var(--white);
  --color-base-muted: var(--gray-50);
  --color-base-muted-dark: var(--gray-100);
  --color-base-inverse: var(--gray-900);
  --color-base-active: var(--green-300);
  --color-base-error: var(--red-300);
  --color-base-disabled: var(--gray-200);
  --color-base-brand: var(--color-primary-50);

  /* === Border Colors === */

  --color-border-white: var(--white);
  --color-border-muted: var(--gray-200); /* 약한 구분선, 서브 테두리 */
  --color-border-default: var(--gray-400); /* 기본 테두리 */
  --color-border-strong: var(--gray-900); /* 강조된 테두리 */
  --color-border-active: var(--green-600);
  --color-border-error: var(--red-600);
  --color-border-brand: var(--color-primary-100); /* 브랜드 톤의 테두리 */

  /* === Icon Colors === */
  --color-icon-white: var(--white);
  --color-icon-primary: var(--gray-600);
  --color-icon-secondary: var(--gray-400);
  --color-icon-active: var(--green-600);
  --color-icon-error: var(--red-600);
  --color-icon-disabled: var(--gray-400);
  --color-icon-brand: var(--color-primary);

  /* === Z-Index === */
  --z-index-header: 1000;
  --z-index-dropdown: 1100;
  --z-index-modal: 1200;
  --z-index-tooltip: 1300;
  --z-index-toast: 1400;
}

html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", sans-serif;
  font-size: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
body {
  background-color: var(--color-bg-inverse);
  color: var(--color-text-white);
  font-size: var(--font-s-sm);
  font-weight: var(--font-w-light);
  line-height: 1.5;
}
body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
/* === 구조 클래스 === */
.c_section {
  padding: 10rem 0;
}
.c_container {
  max-width: 1980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-2xl);
}
.c_section.modal .c_container {
  max-width: 1360px;
  padding: 0 var(--space-2xl);
  font-size: var(--font-s-md);
}
/* === 버튼 === */
.c_btn {
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--radius-md);
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}
.c_btn:hover {
  background-color: var(--color-primary-hover);
}
/* img */
.img_wrap {
  overflow: hidden;
}

/* 작업용 계산식 변수 */
:root {
  --header-height: 8.2rem;
  --mobile-header-height: 7rem;
}
@media screen and (max-width: 1200px) {
  .c_section {
    padding: 6rem 0;
  }
  .c_container {
    padding: 0 var(--space-md);
  }
}
