/* === size === */
.material-symbols-rounded[class*="icon-2xs"] {
  font-size: var(--font-s-2xs);
}
.material-symbols-rounded[class*="icon-xs"] {
  font-size: var(--font-s-xs);
}
.material-symbols-rounded[class*="icon-sm"] {
  font-size: var(--font-s-sm);
}
.material-symbols-rounded[class*="icon-md"] {
  font-size: var(--font-s-md);
}
.material-symbols-rounded[class*="icon-lg"] {
  font-size: var(--font-s-lg);
}
.material-symbols-rounded[class*="icon-xl"] {
  font-size: var(--font-s-xl);
}
.material-symbols-rounded[class*="icon-2xl"] {
  font-size: var(--font-s-2xl);
}
.material-symbols-rounded[class*="icon-3xl"] {
  font-size: var(--font-s-3xl);
}

/* === weight === */
.material-symbols-rounded[class*="icon"][class*="-100"] {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
}
.material-symbols-rounded[class*="icon"][class*="-200"] {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}
.material-symbols-rounded[class*="icon"][class*="-300"] {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
.material-symbols-rounded[class*="icon"][class*="-400"] {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-rounded[class*="icon"][class*="-500"] {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}
.material-symbols-rounded[class*="icon"][class*="-600"] {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
}
.material-symbols-rounded[class*="icon"][class*="-700"] {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 24;
}

/* === Colors === */
[class*="icon"][class*="-brand"] {
  color: var(--color-primary-800);
}
[class*="icon"][class*="-primary"] {
  color: var(--gray-700);
}
[class*="icon"][class*="-secondary"] {
  color: var(--gray-600);
}
[class*="icon"][class*="-tertiary"] {
  color: var(--gray-400);
}
[class*="icon"][class*="-disabled"] {
  color: var(--gray-400);
}
[class*="icon"][class*="-white"] {
  color: var(--white);
}
