/* hero Section START */
.hero {
  background: url(../image/bg.png) center center / cover;
  width: 100%;
  height: 100svh;
}
.hero .c_container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.hero .hero_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Intro Section END */
.project .c_container {
  padding: unset;
}
.section_title {
  font-size: var(--font-s-2xl);
  font-weight: var(--font-w-semibold);
  margin-bottom: var(--space-lg);
  text-align: left;
}
.project .section_title {
  padding: 0 var(--space-2xl);
}
.project .tab_menu {
  padding: 0 var(--space-2xl);
  margin-bottom: var(--space-2xl);
}

/* === Profile Section === */
.profile .profile_content {
  display: flex;
  overflow: visible;
}
.profile .profile_content .left_wrap {
  position: relative;
  width: 50rem;
  padding-right: var(--space-xl);
  border-right: 1px solid var(--color-border-muted);
}
.profile .profile_content .left {
  position: sticky;
  top: var(--header-height);
  height: auto;
}
.profile .profile_content .left .text {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-2xs);
  display: none;
}
.profile .profile_content .left .text.on {
  display: block;
}
.profile .profile_content .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
.profile .profile_content .right .tab_menu {
  position: sticky;
  z-index: 100;
  justify-content: start;
  top: var(--header-height);
  padding: 0 0 var(--space-md) var(--space-xl);
  width: 100%;
  background-color: var(--color-base-white);
}
/* 기존 스킬 스타일 START */
.profile .profile_content .right .skill_list {
  padding-left: var(--space-xl);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-lg);
}
.profile .profile_content .right .skill_list .list_item {
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base-muted);
  border-radius: var(--radius-sm);
  padding-bottom: 6.4rem;
  overflow: hidden;
  cursor: pointer;
}
.profile .profile_content .right .skill_list .list_item .img_wrap {
  width: 9rem;
}
.profile .profile_content .right .skill_list .list_item:hover .img_wrap {
  display: none;
}
.profile .profile_content .right .skill_list .list_item .text_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: var(--space-md);
  max-height: 6.4rem;
  background-color: var(--color-base-secondary);
}
.profile .profile_content .right .skill_list .list_item:hover .text_wrap {
  bottom: unset;
  top: 0;
  max-height: unset;
  height: 100%;
}
.profile .profile_content .right .skill_list .list_item .text_wrap .skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile .profile_content .right .skill_list .list_item:hover .skill {
  font-weight: var(--font-w-semibold);
  margin-bottom: var(--space-2xs);
}
.profile
  .profile_content
  .right
  .skill_list
  .list_item
  .text_wrap
  .skill::after {
  content: "";
  background: url("../image/common/icon_addCircle.svg") center/cover no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}
.profile
  .profile_content
  .right
  .skill_list
  .list_item:hover
  .text_wrap
  .skill::after {
  display: none;
}
.profile .profile_content .right .skill_list .list_item .text_wrap .text {
  font-size: var(--font-s-xs);
  display: none;
}

.profile .profile_content .right .skill_list .list_item:hover .text_wrap .text {
  display: block;
}
/* .profile .profile_content .right .skill_list .list_item img {
  object-fit: contain;
} */
/* 기존 스킬 스타일 END */

/* ===================
  Footer
=================== */
.footer {
  padding: 60px 0;
  background-color: var(--color-bg);
  text-align: center;
  font-weight: 500;
  color: var(--color-gray);
}

/* ===================
  Quiz Button
=================== */
.btn_quiz {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 12px 16px;
  border-radius: 999px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  font-size: 14px;
  cursor: pointer;
  z-index: 100;
}

.modal_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #acc4ff;
  z-index: var(--z-index-modal);
  backdrop-filter: blur(12px);
  overflow-y: auto;
}

.modal_overlay.on {
  display: block;
}
.modal_overlay .btn_close {
  position: fixed;
  z-index: 1400;
  width: 100%;
  line-height: var(--header-height);
  background-color: var(--color-black);
  font-size: var(--font-s-lg);
  color: var(--color-text-white);
  transition: opacity 0.2s;
}
.modal_overlay .btn_close:hover {
  opacity: 0.8;
}
.modal_overlay .modal_content {
  margin-top: var(--header-height);
}
.c_section.modal .left_img {
  position: relative;
  width: 60rem;
}
.c_section.modal .left_img img {
  position: relative;
  z-index: 1301;
}
.c_section.modal .left_img .object_circle {
  width: 500px;
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  z-index: 1300;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--radius-full);
  background-color: #9cb8ff;
}
.c_section.modal .right_text {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
.c_section.modal .right_text .title_area .logo {
  margin-bottom: var(--space-xs);
}
.c_section.modal .right_text .title_area .logo img {
  height: 6rem;
  width: auto;
}
.c_section.modal .right_text .subTitle_area .sub_title {
  margin-bottom: var(--space-2xs);
  font-size: var(--font-s-lg);
  font-weight: var(--font-w-semibold);
}
.c_section.modal .right_text .subTitle_area .info_list {
  display: flex;
  gap: var(--space-2xs);
}
.c_section.modal .right_text .subTitle_area .info_list .list_item {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}
.c_section.modal
  .right_text
  .subTitle_area
  .info_list
  .list_item:last-child::after {
  display: none;
}
.c_section.modal .right_text .subTitle_area .info_list .list_item::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: var(--radius-full);
  background-color: var(--color-base-muted);
  opacity: 0.5;
}
