.footer {
  background-color: #1a1a1a;
}
.footer .c_section {
  padding: var(--space-5xl) 0;
}
.footer .c_inner {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: var(--space-lg);
  /* text-align: center; */
}
.footer .sectionTitle {
  margin-top: unset;
}
.footer .subText {
  margin-top: unset;
  font-size: var(--font-size-xl);
}

.footer_info {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
  margin-bottom: var(--space-sm);
}
@media (max-width: 1024px) {
  .footer_info {
    flex-direction: column;
    gap: var(--space-2xs);
  }
}

.footer_info_item {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

.footer_info_label {
  font-size: var(--font-size-md);
  color: rgba(255, 255, 255, 0.3);
  font-weight: var(--font-weight-500);
}

.footer_info_value {
  font-size: var(--font-size-md);
  color: var(--color-text-lighter);
  /* font-weight: var(--font-weight-400); */
}

.footer_text {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-400);
  color: var(--color-text-mid);
  opacity: 0.7;
  line-height: 1.6;
  max-width: 610px;
}

.footer_copyright {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-400);
  color: var(--color-text-mid);
  opacity: 0.4;
}

@media (max-width: 768px) {
  .footer_text {
    font-size: var(--font-size-2xs);
  }
  .footer_copyright {
    font-size: var(--font-size-2xs);
  }
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .footer .c_section {
    padding: var(--space-4xl) 0;
  }

  .footer .subText {
    font-size: var(--font-size-lg);
  }

  .footer_info {
    gap: var(--space-3xs);
    margin-bottom: unset;
  }

  .footer_info_label {
    font-size: var(--font-size-2xs);
  }

  .footer_info_value {
    font-size: var(--font-size-xs);
  }
}
