.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}
.header.scroll {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
}
.header .menu {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-5xl);
}
.header .menu .list_item {
  display: flex;
  align-items: center;
  height: 4.4rem;
  padding: 0 var(--space-sm) 0 var(--space-sm);
  border-radius: var(--radius-full);
  cursor: pointer;
}
.header .menu .list_item span {
  display: block;
  transform: translateY(0);
  transition: transform 0.2s ease-out;
}
.header .menu .list_item:hover span {
  transform: translateY(-5px);
  text-shadow: 0 0 6px hsl(0, 0%, 100%), 0 0 24px hsl(0, 0%, 100%),
    0 0 32px hsl(0, 0%, 100%);
}
.header .menu .list_item.active {
  text-shadow: 0 0 6px hsl(0, 0%, 100%), 0 0 24px hsl(0, 0%, 100%),
    0 0 32px hsl(0, 0%, 100%);
}
