@charset "utf-8";
@font-face {font-family: 'nsn';
    src: url(../fonts/NanumSquareNeoTTF-bRg.woff2) format('woff2'),
         url(../fonts/NanumSquareNeoTTF-bRg.woff) format('woff');
    font-weight: 400;}
@font-face {font-family: 'nsn';
    src: url(../fonts/NanumSquareNeoTTF-dEb.woff2) format('woff2'),
         url(../fonts/NanumSquareNeoTTF-bEb.woff) format('woff');
    font-weight: 700;}
@font-face {font-family: 'nsn';
     src: url(../fonts/NanumSquareNeoTTF-eHv.woff2) format('woff2'),
          url(../fonts/NanumSquareNeoTTF-eHv.woff) format('woff');
     font-weight: 800;}

*{margin: 0; padding: 0;}
*, *::after, *::before{box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul{list-style: none;}
img, video{max-width: 100%;}
a, span, i{display: inline-block;}
button, fieldset{border: 0;
                 outline: 0;
                 background: transparent;}

html{font-size: 62.5%;
     --main: #ff6c00;
     --sub: #262626;
     --line: #6e6e6e;}
body{font-size: 1.4em;
     line-height: 1.5;
     color: var(--sub);
     font-family: 'nsn', 'Malgun Gothic', sans-serif;}

.inner{margin: 0 auto;
       padding: 0 1rem;}
.blind{position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       overflow: hidden;
       clip: rect(0 0 0 0);}
.line{opacity: 0.3;}


#content .visual_inner{background: #dcd1bf;
                       text-align: center;}
#content .visual_txt{padding-top: 8rem;
                    padding-bottom: 6rem;}
#content .visual_txt h1{position: relative;
                         font-size: 6rem;
                         line-height: 1;
                         display: inline-block;}
#content .visual_txt h1 span{display: block;
                              padding-bottom: 1.5rem;}
#content .visual_txt .sub_hedline{font-size: 1.6rem;
                                   width: 355px;
                                   margin: 0 auto;}
#content .visual_txt .color_main b{color: var(--main);
                                   position: relative;}
#content .visual_txt .color_main b::before{content: '';
                                        display: inline-block;
                                        width: 7px;
                                        height: 7px;
                                        background: var(--main);
                                        border-radius: 50%;
                                        position: absolute;
                                        left: 50%;
                                        top: -23px;
                                        transform: translatex(-50%);}
#content .visual_txt .small{font-size: 3.8rem;
                            font-weight: 400;
                            margin-bottom: 2rem;
                            padding-bottom: 0;}
#content .visual_txt .short_line{width: 53px;;
                                 height: 1px;
                                 background: var(--sub);
                                 opacity: 0.5;
                                 margin: 0 auto 2rem;}
#content .visual_txt p{padding-bottom:5.8rem;}
#content .yoga_class .yoga_class_txt{text-align: center;
                                     line-height: 1;
                                   padding-top: 6rem;}
#content .yoga_class h2{font-size: 2.4rem;
                        font-weight: 800;
                        padding-top: 1rem;}
#content .yoga_class .txt{line-height: 1.5;
                         margin-top: 3rem;
                         margin-bottom: 6rem;}
#content .yoga_class .txt span{background: url(../images/paint_effect.png)no-repeat left top/cover;
     width: 100%;
     height: 100%;
     max-width: 190px;
     padding: 9px 0 6px 0;
     color: #fff;}

#content .guide_img{background: url(../images/event_guide_pc.jpg) no-repeat 65% center/cover;
     height: 100vw;
     max-height: 500px;
     max-width: 1100px;
     margin: 0 auto;}
#content .event .event_guide{text-align: center;
                              padding: 6rem 0 5.8rem;}
#content .event h2{font-size: 2.4rem;
                   font-weight: 700;
                    line-height: 1;
                    padding-bottom: 1rem;}
#content .event .line{width: 100%;
                      max-width: 700px;
                      height: 1px;
                      background: var(--line);
                      opacity: 0.5;
                      margin: 0 auto;}
#content .event .guide_list li{padding: 3rem 0 0 0;}
#content .event .guide_list li h3{width: 33.80281%;
                                   max-width: 125px;
                                   background: var(--sub);
                                   color: #fff;
                                   border-radius: 50px;
                                   margin: auto;
                                   padding: 0.5rem 0;
                                   font-weight: 400;
                                   font-size: 1.4rem;}
#content .event .guide_list li p{padding-top: 1rem;}
#content .teacher_intro{background: var(--main);
                         color: #fff;
                         text-align: center;
                         padding: 6rem 0;}
#content .teacher_intro h2{font-size: 2.4rem;
                           font-weight: 800;
                           line-height: 1;}
#content .teacher_intro .teacher_img img{width: 74%;
                                        max-width: 385px;
                                        margin: 0 auto;
                                        display: block;
                                        margin: 2.8rem auto;}
#content .teacher_intro .teacher_txt{line-height: 1;}
#content .teacher_intro .name{font-weight: 700;
                              margin-bottom: 28px;}
#content .teacher_intro .teacher_career li{padding-bottom: 10px;}
#content .teacher_intro .teacher_career .bottom_zero{padding-bottom: 0px;}

#content .class_inner{background: url(../images/schedule_bg_tb.jpg) no-repeat top center/cover;
                      max-width: 780px;}
#content .class_inner .class_intro{text-align: center;
                                   color: #fff;
                                   padding: 6rem 0;}
#content .class_inner .class_intro h2{padding-bottom: 6rem;
                                        line-height: 1;
                                        font-size: 2.4rem;
                                        font-weight: 800;}
#content .class_inner .program_list h3{background: var(--main);
                                        display: inline-block;
                                        border-radius: 50px;
                                        line-height: 1.8;
                                        color: #212020;
                                        padding: 0 15px;
                                        margin-bottom: 10px;}
#content .class_inner .program_list .time{margin-bottom: 10px;
                                         line-height: 1;
                                        color: #fff;}
#content .class_inner .program_list span{display: block;}
#content .class_inner .program_list .program_txt{width: 100%;
                                                 margin: 0 auto 3rem;}
#content .class_inner .program_list .main_color{color: var(--main);
                                                font-weight: 700;}
#content .class_inner .program_list .last{margin: unset;}
#content .event_inner{background: #f6f6f6;}
#content .event_apt strong{display: block;
                           text-align: center;
                           line-height: 1;}
#content .event_apt .tit{font-weight: 400;
                         padding-top: 6rem;
                         font-size: 1.6rem;}
#content .event_apt .tit_e{font-size: 2.4rem;
                           padding: 10px 0 6rem 0;
                         font-weight: 800;}
#content .event_apt .tit_e .main_color{color: var(--main);}
#content .event_apt .apt_list{width: 100%;
                              max-width: 355px;
                              margin: 0 auto;}
#content .event_apt .apt_list label{display: block;
                                   padding-bottom: 10px;
                                   font-weight: 700;}
#content .event_apt .apt_list input{display: block;
                                   width: 100%;
                                   padding: 10px 15px;
                                   border-radius: 20px;
                                   border: 1px solid var(--line);
                                   margin-bottom: 15px;
                                   font-size: 1em;}
#content .event_apt .apt_list .email_box{margin-bottom: 6rem;}
#content .event_apt .personal_infor{padding: 40px 20px;
                                   border: 1px solid var(--line);
                                   background: #fff;
                                   max-width: 1290px;
                                   margin: 0 auto;}
#content .event_apt .personal_infor h3{padding-bottom: 20px;
                                        line-height: 1;}
#content .event_apt .personal_infor>ol{padding-left: 17px;}
#content .event_apt .personal_infor>ol li{padding-bottom: 7px;}
#content .event_apt .personal_infor>ol li:last-child{padding-bottom: unset;}
#content .event_apt .personal{display: flex;
                              justify-content: center;
                              font-weight: 700;
                              padding: 20px 0 6rem 0;}
#content .event_apt .personal>p{font-weight: 700;}
#content .event_apt .personal>input{margin: 0 5px 0 10px;
                                   cursor: pointer;}
#content .event_apt .form_btn{padding: 12px 90px;
                              background: var(--main);
                              border-radius: 50px;
                              font-size: 2.4rem;
                              font-weight: 800;
                              color: #fff;
                              display: block;
                              margin: 0 auto 6rem;
                              cursor: pointer;}
#content .notice_inner{background: var(--main);
                      color: #fff;
                      padding: 6rem 2.67vw;}
#content .notice>h2{font-size: 2.5rem;
                    font-weight: 800;
                    padding-bottom: 20px;}
#content .notice .notice_list>li{padding-bottom: 7px;}
#content .notice .notice_list>li:last-child{padding-bottom: unset;}
#footer{position: relative;
     padding: 6rem 2.67vw;}
#footer .footer_right{position: absolute;
                      right: 2.67vw;
                      top: 6rem;}
#footer .footer_right .social_icon{display: flex;
                                   align-items: center;
                                   justify-content: space-between;
                                   width: 115px;}
#footer .footer_right .social_icon>li>a{padding: 0 10px;}
#footer .footer_right .social_icon>li>a>img{display: block;}
#footer .footer_right .social_icon>li .paddin_zero{padding-right: unset;}
#footer .footer_logo{padding-bottom: 20px;}
#footer .footer_list>li{padding-bottom: 7px;}


@media screen and (min-width:780px){
body{font-size: 1.7em;}
#content .visual_inner{text-align: left;
                    background: url(../images/visual_img_pc.jpg) no-repeat 60%/cover;
                    width: 100%;
                    height: 800px;
                    padding-left: 3rem;
                    position: relative;}
#content .visual{width: 100%;
               height: 100%;
               max-width: 850px;
               margin: 0 auto;}
#content .visual_txt {padding-top: unset;
                    padding-bottom: unset;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);}
#content .visual_txt h1{font-size: 12rem;}
#content .visual_txt h1 span{display: block;
                              padding-bottom: 2rem;}
#content .visual_txt .small{font-size: 7.7rem;
                            font-weight: 400;
                            margin-bottom: 5rem;
                            padding-bottom: 0;}
#content .visual_txt .sub_hedline{width: 370px;
                                   font-size: 1.8rem;
                                   padding-bottom: unset;}
#content .visual_txt .color_main b::before{width: 15px;
                           height: 15px;
                           background: var(--main);
                           border-radius: 50%;
                           position: absolute;
                           left: 50%;
                           top: -23px;
                           transform: translatex(-50%);}

#content .visual_txt .short_line{display: none;}
#content .visual_txt p{padding-bottom:5.8rem;}

#content .yoga_class .yoga_class_txt{padding: 10rem 0;}
#content .yoga_class h2{font-size: 2.8rem;
                         padding-top: 1.5rem;}
#content .yoga_class .txt{width: 630px;
                         margin: 3rem auto 0;}
#content .yoga_class .txt span{max-width: 220px;}
#content .event .event_guide{padding:10rem 0;}
#content .event h2{font-size: 2.8rem;
                    padding-bottom: 1.5rem;}
#content .event .line{max-width: 700px;}
#content .event .guide_list{width: 480px;
                            margin: 0 auto;}
#content .event .guide_list li{padding: 3.5rem 0 0 0;
                              display: flex;
                              align-items: center;}
#content .event .guide_list li h3{max-width: 125px;
                                  border-radius: 30px;
                                   margin: unset;
                                   font-size: 1.7rem;}
#content .event .guide_list li p{padding-top: unset;
                                 padding-left: 10px;}

#content .teacher_intro{padding: 10rem 0;
                         overflow: hidden;}
#content .teacher_intro .teacher_inner{padding: 0 3.85vw;}
#content .teacher_intro .flex{display: flex;
                              align-items: center;
                              margin: 10rem auto 0;
                              justify-content: space-between;
                              position: relative;
                              max-width: 850px;}
#content .teacher_intro .flex .effect_txt{background: url(../images/txt_effect.png) no-repeat center/contain;
                                        position: absolute;
                                        width: 100%;
                                        height: 30%;
                                        top: 8%;
                                        right: -31%;}
#content .teacher_intro h2{font-size: 2.8rem;}
#content .teacher_intro .teacher_img img{width: 100%;
                                         max-width: 340px;
                                         margin: unset;}
#content .teacher_intro .teacher_txt{text-align: right;
                                   margin-left: 45px;}
#content .teacher_intro .teacher_career li{padding-bottom: 15px;}

#content .class_inner{max-width: 100%;}
#content .class_inner .class_intro{padding: 10rem 0;}
#content .class_inner .class_intro h2{padding-bottom: 10rem;
                                        font-size: 2.8rem;}
#content .class_inner .program_list h3{line-height: 2;
                                        margin-bottom: 2rem;}
#content .class_inner .program_list .time{margin-bottom: 2rem;}
#content .class_inner .program_list span{display: inline-block;}
#content .class_inner .program_list .program_txt{line-height: 1;}

#content .event_apt .tit{padding-top: 10rem;
                         font-size: 2rem;}
#content .event_apt .tit_e{font-size: 2.8rem;
                         padding: 15px 0 10rem 0;}
#content .event_apt .apt_list{max-width: 520px;}
#content .event_apt .apt_list input{padding: 15px;
                                   border-radius: 50px;
                                   border: 1px solid var(--line);
                                   margin-bottom: 15px;
                                   font-size: 1.5rem;}
#content .event_apt .apt_list .email_box{margin-bottom: 10rem;}
#content .event_apt .personal_infor h3{font-size: 1em;}
#content .event_apt .personal{padding: 20px 0 10rem 0;}
#content .event_apt .form_btn{margin: 0 auto 10rem;
                              font-size: 3rem;}

#content .notice_inner{padding: 10rem 3.85vw;}

#footer{padding: 10rem 3.85vw;}
#footer .footer_right{right: 3.85vw;
                      top: 10rem;}
}

@media screen and (min-width:1290px){
#content .visual_inner{height: 900px;}
#content .visual{max-width: 1290px;}
#content .visual_txt h1{font-size: 15rem;}
#content .visual_txt h1 span{padding-bottom: 3rem;}
#content .visual_txt .small{font-size: 9.6rem;}
#content .visual_txt .sub_hedline{text-align: center;
                                   margin: 0 auto;
                                   font-size: 2rem;
                                   line-height: 1.7;
                                   width: 400px;}
#content .class_inner{background: url(../images/schedule_bg_pc.jpg) no-repeat center center/cover;}
#content .program_list{display: flex;
                    justify-content: center;}
#content .program_list>li{margin: 0 8rem;}
#content .class_inner .program_list .program_txt{line-height: unset;
                                                  margin-bottom: unset;}
#content .class_inner .program_list span{display: block;}
#content .class_inner .program_list .main_color{display: inline;}
#footer .footer_right .social_icon{width: 150px;}
#footer .footer_right .social_icon>li>a{padding: 0 15px;}
}