<footer>
  <div class="footerTop">
    <div class="c_inner">
      <div class="contents_wrap">
        <div class="serviceInfo_container">
          <div class="serviceInfo">
            <p class="title">이용안내</p>
            <div class="text_container">
              <p class="tel">02-0000-0000</p>
              <div class="textBox">
                <p>운영시간 : 평일 09:00 ~ 18:00</p>
                <p>점심시간 : 12:00 ~ 13:30</p>
                <p>토/일 공휴일 휴무</p>
              </div>
            </div>
          </div>
        </div>
        <ul class="footerMenu_list">
          <li class="item">
            <p class="title">고객센터</p>
            <ul class="subMenu_list">
              <li class="item">
                <a href="../Customer/FAQ.html">FAQ</a>
              </li>
              <li class="item">
                <a href="../Customer/NoticeList.html">공지사항</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <p class="title">Q&A</p>
            <ul class="subMenu_list">
              <li class="item">
                <a href="../MyPage/Inquiry_write.html">문의하기</a>
              </li>
              <li class="item">
                <a href="../MyPage/QnA.html">문의내역</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <p class="title">약관</p>
            <ul class="subMenu_list">
              <li class="item">
                <a href="../Terms/Terms.html">이용약관</a>
              </li>
              <li class="item">
                <a href="../Terms/Individual.html">개인정보취급방침</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="bankInfo">
          <p class="title">입금계좌 정보</p>
          <ul class="bank_list">
            <li class="item">
              <div class="icon_wrap">
                <img src="../image/common/img_kb.svg" alt="kb 아이콘" />
              </div>
              <span>국민은행 : 000000-00-100000</span>
            </li>
            <li class="item">
              <div class="icon_wrap">
                <img src="../image/common/img_ibk.svg" alt="ibk 아이콘" />
              </div>
              <span>기업은행 : 000000-00-100000</span>
            </li>
            <li class="item">
              <div class="icon_wrap"></div>
              <span>예금주 : <strong>서비스명(담당자명)</strong></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="c_inner">
      <div class="contents_wrap">
        <div class="companyInfo_container">
          <div class="companyInfo">
            <p class="name">서비스명</p>
            <p>
              <span>대표이사 : 담당자명</span
              ><span>주소 : 주소가 들어갈 영역입니다. (인현동1가)</span>
            </p>
            <p>
              <span>사업자등록번호 : 000-00-00000</span
              ><span>통신판매허가번호 : 통신판매허가번호 영역입니다.</span>
            </p>
            <p>
              <span>대표번호 : 02-0000-0000</span
              ><span>팩스번호 : 02-0000-0000</span>
            </p>
            <p><span>이메일 : test@test.com</span></p>
          </div>
          <div class="pgInfo">PG사 정보</div>
        </div>
        <div class="copyright">
          COPYRIGHT (C) 2024 서비스명.COM ALL RIGHT RESERVED.
        </div>
      </div>
    </div>
  </div>
</footer>
