<section class="c_section orderPreview">
  <details open>
    <summary class="c_custom_btn">주문 상세보기</summary>
    <div class="wrap">
      <div class="preview_area">
        <div class="c_inner">
          <div class="preview_wrap">
            <div class="label">선택하신 주문 :</div>
            <ul class="preview_list">
              <!-- commetn : 선택된 옵션이 있을 경우 .list_item 구조 추가 -->
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
              <li class="list_item">선택</li>
            </ul>
          </div>
          <a
            href="../Customer/Contact.html"
            class="c_btn-mid-round-primary-reverse"
            >별도 문의</a
          >
        </div>
      </div>
      <div class="price_area">
        <div class="c_inner">
          <div class="price_wrap offset">
            <div class="left">
              <div class="label">오프셋 견적 :</div>
              <div class="value">100,000,000</div>
            </div>
            <div class="right btn_wrap">
              <a
                href="../MyPage/Basket.html"
                class="c_custom_btn base-brand shoppingBasket_btn square"
              >
                <img
                  src="../image/common/icon_topMenu_basket.svg"
                  alt="장바구니"
                />
              </a>
              <a
                href="../Order/OrderProduct.html"
                class="c_btn-round-primary pay_btn"
              >
                결제하기
              </a>
            </div>
          </div>
          <div class="line"></div>
          <div class="price_wrap offset">
            <div class="left">
              <div class="label">디지털 견적 :</div>
              <div class="value">100,000,000</div>
            </div>
            <div class="right btn_wrap">
              <a
                href="../MyPage/Basket.html"
                class="c_custom_btn base-brand shoppingBasket_btn square"
              >
                <img
                  src="../image/common/icon_topMenu_basket.svg"
                  alt="장바구니"
                />
              </a>
              <a
                href="../Order/OrderProduct.html"
                class="c_btn-round-primary pay_btn"
              >
                결제하기
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </details>
</section>
