<header class="header introFadeIn">
  <div class="overlay"></div>
  <div class="c_container flex-between width-f">
    <div class="flex-between width-f flex-center">
      <h1 class="logo">
        <a href="./index.html">LOGO</a>
      </h1>
      <div class="nav_btn open">
        <span class="material-symbols-rounded icon-3xl-200-white">menu</span>
      </div>
    </div>
    <div class="right flex">
      <div class="mobile_nav_menu">
        <h1 class="logo">
          <a href="./index.html">LOGO</a>
        </h1>
        <div class="nav_btn close">
          <span class="material-symbols-rounded icon-2xl-300-primary"
            >close</span
          >
        </div>
      </div>
      <nav class="gnb">
        <ul class="gnb_list flex-center">
          <li>
            <a href="#home"
              >HOME
              <span class="material-symbols-rounded icon-300"
                >chevron_right</span
              ></a
            >
          </li>
          <li>
            <a href="#project"
              >PROJECT<span class="material-symbols-rounded icon-300"
                >chevron_right</span
              ></a
            >
          </li>
          <li>
            <a href="#profile"
              >PROFILE<span class="material-symbols-rounded icon-300"
                >chevron_right</span
              ></a
            >
          </li>
          <li>
            <a href="#other"
              >OTHER WORK<span class="material-symbols-rounded icon-300"
                >chevron_right</span
              ></a
            >
          </li>
        </ul>
      </nav>
      <div class="email">
        <button type="button" class="copy_email">
          <span class="material-symbols-rounded icon-xl-200">content_copy</span>
          sunbisher@gmail.com
        </button>
      </div>
    </div>
  </div>
</header>
