<nav class="lnb">
  <!-- comment: .lnb_list > .item 클릭 시 .on 추가 -->
  <!-- comment: .sub_list > .item 클릭 시 .on 추가 -->
  <ul class="lnb_list">
    <!-- <li class="item on">
      <p class="title">서비스 안내</p>
      <ul class="sub_list">
        <li class="item on">
          <a href="../Customer/DeliveryDateInfo.html">출고일 안내</a>
        </li>
      </ul>
    </li> -->
    <li class="item on">
      <p class="title">고객센터</p>
      <ul class="sub_list">
        <li class="item on">
          <a href="../Customer/FAQ.html">FAQ</a>
        </li>
        <li class="item">
          <a href="../Customer/NoticeList.html">공지사항</a>
        </li>
        <li class="item">
          <a href="#">박스가이드 소개</a>
        </li>
        <li class="item">
          <a href="../Customer/Location.html">찾아오시는길</a>
        </li>
      </ul>
    </li>
    <li class="item">
      <p class="title">기타 서비스</p>
      <ul class="sub_list">
        <li class="item">
          <a
            href="https://www.law.go.kr/lsInfoP.do?lsId=000815&ancYnChk=0#0000"
            target="_blank"
            >유해인쇄물 접수불가</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
