<div class="c_section">
  <div class="topBanner">
    <ul class="banner_list">
      <li class="item">
        <div class="img_wrap">
          <img src="../image/banner/topBanner_01.png" alt="배너 이미지" />
        </div>
      </li>
    </ul>
    <!-- <div class="btn_wrap">
      <button type="button" class="icon_wrap">
        <img src="../image/common/icon_close.svg" alt="닫기" />
      </button>
    </div> -->
  </div>
</div>
<header class="header">
  <div class="c_section">
    <div class="memberInfo_container">
      <div class="c_inner">
        <!-- comment : header 반응형 시 메뉴에서 .memberInfo 에 .login / .logout 시 화면 변경 -->
        <div class="memberInfo login">
          <div class="welcome">
            <span><strong>홍길동</strong>님, 반갑습니다.</span>
            <div class="btn_wrap">
              <a
                href="../Product/ProductList_All.html"
                class="c_btn-small-round-primary mobileShow"
              >
                박스 주문하기
              </a>
              <a
                href="../Order/QuotationOrder.html"
                class="c_btn-small-round-primary-reverse mobileShow"
              >
                견적요청
              </a>
            </div>
          </div>
          <div class="loginField">
            <div class="input_wrap">
              <div class="input_wrap">
                <input
                  type="text"
                  class="c_input"
                  name=""
                  placeholder="아이디 입력"
                />
                <input
                  type="password"
                  class="c_input"
                  name=""
                  placeholder="비밀번호 입력"
                />
                <button type="button" class="c_btn-small-round-primary">
                  로그인
                </button>
              </div>
              <div class="input_wrap">
                <div class="c_checkbox_list">
                  <label for="saveID" class="c_checkbox_wrap">
                    <input type="checkbox" id="saveID" name="" checked />
                    <span>아이디 저장</span>
                  </label>
                </div>
                <div class="btn_wrap-alignCenter">
                  <div class="c_btn-small-round-primary-reverse mobileShow">
                    <a href="../Order/sample_box_request.html">박스 주문하기</a>
                    <span class="line_primary"></span>
                    <a href="../Order/QuotationOrder.html"> 견적요청 </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cashInfo_container">
            <div class="wrap">
              <div class="badge">전용계좌</div>
              <div class="value">
                <span class="icon_wrap">
                  <img src="../image/common/img_kb.svg" alt="kb 아이콘" />
                </span>
                <span>국민은행 0750-0977-5978-94</span>
              </div>
            </div>
            <div class="wrap">
              <div class="badge">계좌잔액</div>
              <div class="value">50,000원</div>
            </div>
          </div>
          <ul class="sns_list">
            <li class="item">
              <a href="/" class="icon_wrap">
                <img
                  src="../image/common/img_header_naver.svg"
                  alt="네이버 아이콘"
                />
              </a>
            </li>
            <li class="item">
              <a href="/" class="icon_wrap">
                <img
                  src="../image/common/img_header_kakao.svg"
                  alt="카카오톡 아이콘"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="c_section">
    <div class="gnb_container">
      <div class="c_inner">
        <nav class="gnb">
          <div class="ci_wrap">
            <a href="../Home/Home.html" class="">
              <img src="../image/common/logo.svg" class="logo" alt="로고" />
              <img src="../image/common/symbol.svg" class="symbol" alt="심볼" />
            </a>
          </div>
          <ul class="gnbMenu_list">
            <li class="item btnMenu">
              <!-- comment : .mainCategory 클릭 시 ProductList_All.html에 해당하는 탭메뉴로 이동 -->
              <a href="../Product/ProductList_All.html" class="mainCategory"
                >전체</a
              >
              <div class="sub_list">
                <div class="element">
                  <div class="item">
                    <p class="subCategory">종이박스</p>
                    <ul class="depth_list">
                      <li class="item">
                        <a
                          href="../Product/Package_paperBox_single.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_paper_01.png"
                              alt="종이박스 단상자"
                            /> </span
                          >단상자</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Package_paperBox_single.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_paper_02.png"
                              alt="종이박스 포장상자"
                            /> </span
                          >포장상자</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Package_paperBox_single.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_paper_03.png"
                              alt="종이박스 분리상자"
                            /> </span
                          >분리상자</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="item">
                    <p class="subCategory">골판지박스</p>
                    <ul class="depth_list">
                      <li class="item">
                        <a
                          href="../Product/Package_corrugatedBox_single.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_corrugated_01.png"
                              alt="골판지박스 단상자"
                            /> </span
                          >단상자</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Package_corrugatedBox_single.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_corrugated_02.png"
                              alt="골판지박스 포장상자"
                            /> </span
                          >포장상자</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Package_corrugatedBox_single.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_corrugated_03.png"
                              alt="골판지박스 택배박스" /></span
                          >택배박스</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="item">
                    <p class="subCategory">싸바리박스</p>
                    <ul class="depth_list">
                      <li class="item">
                        <a
                          href="../Product/Package_rigidBox_top.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_rigid_01.png"
                              alt="싸바리박스 표지" /></span
                          >표지</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Package_rigidBox_top.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_rigid_02.png"
                              alt="싸바리박스 2단" /></span
                          >2단</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Package_rigidBox_top.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_rigid_03.png"
                              alt="싸바리박스 3단" /></span
                          >3단</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="item">
                    <p class="subCategory">기타</p>
                    <ul class="depth_list">
                      <li class="item">
                        <a
                          href="../Product/Others_shoppingbag.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_others_01.png"
                              alt="쇼핑백" /></span
                          >쇼핑백</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Others_booklet.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_others_02.png"
                              alt="제본" /></span
                          >제본</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Others_leaflet.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_others_03.png"
                              alt="리플렛" /></span
                          >리플렛</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Others_sticker.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_others_04.png"
                              alt="스티커" /></span
                          >스티커</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/Others_tape.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_others_05.png"
                              alt="스티커" /></span
                          >박스 테이프</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Order/sample_box_request.html"
                          class="lnb_item_img"
                        >
                          <span class="thumbnail">
                            <img
                              src="../image/common/img_thumnail_others_06.png"
                              alt="무지 샘플요청" /></span
                          >무지 샘플요청</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="item">
                    <a href="../Product/industry_All.html" class="subCategory"
                      >업종별 보기</a
                    >
                    <ul class="depth_list">
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >화장품</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >식품</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >베이커리/카페</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >반려동물</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >문구/완구</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >문류/유통</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >전자제품</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >패션/액세서리</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >농수산</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >교육</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >헬스케어/의료</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >인테리어/소품</a
                        >
                      </li>
                      <li class="item">
                        <a
                          href="../Product/industry_All.html"
                          class="lnb_item_img"
                          >예술/문화</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="item">
              <a href="../Product/ProductList_All.html" class="mainCategory"
                >종이박스</a
              >
              <ul class="sub_list">
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >단상자</a
                  >
                </li>
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >포장상자</a
                  >
                </li>
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >분리상자</a
                  >
                </li>
              </ul>
            </li>
            <li class="item">
              <a href="../Product/ProductList_All.html" class="mainCategory"
                >골판지박스</a
              >
              <ul class="sub_list">
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >단상자</a
                  >
                </li>
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >포장상자</a
                  >
                </li>
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >택배박스</a
                  >
                </li>
              </ul>
            </li>
            <li class="item">
              <a href="../Product/ProductList_All.html" class="mainCategory"
                >싸바리박스</a
              >
              <ul class="sub_list">
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >표지</a
                  >
                </li>
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >2단</a
                  >
                </li>
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >3단</a
                  >
                </li>
              </ul>
            </li>
            <li class="item">
              <a href="../Product/ProductList_All.html" class="mainCategory"
                >기타</a
              >
              <ul class="sub_list">
                <li class="item">
                  <a
                    href="../Product/Others_shoppingbag.html"
                    class="subCategory"
                    >쇼핑백</a
                  >
                </li>
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >제본</a
                  >
                </li>
                <li class="item">
                  <a
                    href="../Product/Package_paperBox_single.html"
                    class="subCategory"
                    >리플렛</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/Others_sticker.html" class="subCategory"
                    >스티커</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/Others_tape.html" class="subCategory"
                    >박스 테이프</a
                  >
                </li>
                <li class="item">
                  <a href="../Order/sample_box_request.html" class="subCategory"
                    >무지 샘플요청</a
                  >
                </li>
              </ul>
            </li>
            <li class="item">
              <a href="../Product/industry_All.html" class="mainCategory"
                >업종별 보기</a
              >
              <ul class="sub_list">
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >화장품</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >식품</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >베이커리/카페</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >반려동물</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >문구/완구</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >물류/유통</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >전자제품</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >패션/액세서리</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >농수산</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >교육</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >헬스케어/의류</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >인테리어/소품</a
                  >
                </li>
                <li class="item">
                  <a href="../Product/industry_All.html" class="subCategory"
                    >예술/문화</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <div class="topMenu_container">
            <div class="topMenu">
              <ul class="topMenu_list">
                <li class="item">
                  <a href="../WorkGuide/Program_illustrator.html">
                    <span class="text">작업가이드</span>
                  </a>
                </li>
                <li class="item">
                  <a href="../Customer/FAQ.html">
                    <span class="text">고객센터</span>
                  </a>
                </li>
                <!-- comment : .logout / .login 에 .on 추가 시 화면 변경 -->
                <!-- 로그아웃 시 바뀌는 화면 START -->
                <li class="item logout line_none">
                  <a href="/">
                    <span class="text line_none">로그인/회원가입</span>
                  </a>
                </li>
                <!-- 로그아웃 시 바뀌는 화면 END -->
                <!-- 로그인 시 바뀌는 화면 START -->
                <li class="item login on">
                  <a href="../MyPage/MyPageHome.html">
                    <span class="text">홍길동님</span>
                  </a>
                  <span class="text line_none">로그아웃</span>
                </li>
                <!-- 로그인 시 바뀌는 END -->
                <li class="line_none btn_wrap">
                  <a
                    href="../Product/ProductList_All.html"
                    class="c_btn-mid-round-primary"
                  >
                    <div class="icon_wrap">
                      <img
                        src="../image/common/icon_topMenu_boxOrder_white.svg"
                        alt="박스 주문하기"
                      />
                    </div>
                    <span class="text line_none">박스 주문하기</span>
                  </a>
                  <a
                    href="../Order/QuotationOrder.html"
                    class="c_btn-mid-round-primary-reverse"
                  >
                    <span class="text line_none">견적요청</span>
                  </a>
                </li>
                <li class="item line_none basket_btn">
                  <a href="../MyPage/Basket.html" class="right_btn">
                    <div class="icon_wrap icon_basket">
                      <img
                        src="../image/common/icon_topMenu_basket.svg"
                        alt="장바구니 아이콘"
                      />
                    </div>
                  </a>
                </li>
              </ul>
              <div class="mobileMenu">
                <a href="../WorkGuide/Program_illustrator.html" class="icon_wrap">
                  <img
                    src="../image/common/icon_topMenu_guide.svg"
                    alt="작업가이드 아이콘"
                  />
                </a>
                <a href="../Customer/FAQ.html" class="icon_wrap">
                  <img
                    src="../image/common/icon_topMenu_help.svg"
                    alt="고객센터 아이콘"
                  />
                </a>
                <a href="../MyPage/Basket.html" class="icon_wrap">
                  <img
                    src="../image/common/icon_topMenu_basket.svg"
                    alt="장바구니 아이콘"
                  />
                </a>
                <a href="../MyPage/MyPageHome.html" class="icon_wrap">
                  <img
                    src="../image/common/icon_topMenu_join.svg"
                    alt="마이페이지 아이콘"
                  />
                </a>
                <div class="icon_wrap btnMenuList">
                  <img
                    src="../image/common/icon_menuList.svg"
                    alt="메뉴 아이콘"
                  />
                </div>
                <div class="icon_wrap btnMenuClose">
                  <img src="../image/common/icon_close.svg" alt="닫기 아이콘" />
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="c_section">
    <div class="etcMenu">
      <div class="c_inner">
        <ul class="etcMenu_list">
          <!-- comment : header 반응형 시 메뉴에서 .memberInfo 에 .logout 이 붙을 시 회원가입, 로그인 .item에 .on 추가 -->
          <!-- comment : header 반응형 시 메뉴에서 .memberInfo 에 .login 이 붙을 시 로그아웃 .item에 .on 추가 -->
          <li class="item">
            <a href="../Product/Ev.html" class="">회원가입</a>
          </li>
          <li class="item">
            <a href="../Product/Ev.html" class="">로그인</a>
          </li>
          <li class="item on">
            <a href="../Product/Ev.html" class="">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>