<div class="c_section detail_page">
  <div class="subSection">
    <div class="c_inner c_flex-column">
      <div class="title_area">
        <p class="heading2">박스가이드 작업 가이드</p>
      </div>
      <div class="guide_box">
        <div class="sub_title_area">
          <p class="sub_title">파일저장 하기</p>
        </div>
        <ul class="contents_list">
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">CMYK모드</p>
              <p>
                색상은 반드시 CMYK 모드에서 작업하여 주세요.도련값은 모두
                0으로,<span class="block"
                  >해상도는 300ppi 로 설정해 주세요. (이미지 해상도가 낮을 경우
                  깨질 수가 있으니 주의 바랍니다.)</span
                >
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_01_1.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">Ai파일</p>
              <p>
                앞면(전면)은 좌측, 뒷면(후면)은 우측으로 대지 순서에 맞춰
                나열해주세요.
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_01_2.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">PDF파일</p>
              <p>
                PDF파일로 저장할 시 양면 인쇄는 앞면(전면), 뒷면(후면)순으로
                배열해주세요.
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_01_3.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">어도비 일러스트</p>
              <p>
                어도비 일러스트 외 다른 프로그램으로 작업할 시 ai또는 pdf로
                저장해주세요.
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_01_4.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="guide_box">
        <div class="sub_title_area">
          <p class="sub_title">칼선 작업 하기</p>
        </div>
        <ul class="contents_list">
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">칼선, 오시선 색상과 선두께</p>
              <div class="text_list">
                <p>
                  칼선은 M : 100%, 선두께 0.5pt로 작업하고,<span class="block">
                    오시선은 C : 100%, 선두께 0.5pt로 작업해주세요.</span
                  >
                  (반드시 일러스트로 칼선 작업을 해주세요.)
                </p>
              </div>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_02_1.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">칼선, 오시선 별색</p>
              <p>
                칼선, 오시선은 반드시 별색 작업을 해주세요.<span class="block"
                  >(칼선이 동시에 인쇄되어 인쇄사고가 발생할 수 있습니다.)</span
                >
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_02_2.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">레이어 나누기</p>
              <p>
                칼선과 오시선, 인쇄할 디자인 레이어들을 각각 나눠서 작업해
                주세요.<span class="block">
                  레이어 이름 지정시 영문으로 표기해주세요.</span
                >
                (오시선=crease, 재단=cut, 디자인=이미지) 레이어가 제대로 지정이
                되어있지 않을 시 데이터 오류나 제작물에 문제가 발생할 수
                있습니다.
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_02_3.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">간격 조정 (소량주문시)</p>
              <p>
                칼선이 급하게 꺾이는 부분은 칼선과 오시선 사이에<span
                  class="block"
                  >2mm 간격를 두고 오시선을 작업해 주세요.</span
                >
                (칼선과 오시선이 맞닿아 있을 경우 뜯김 현상이 발생 할 수
                있습니다.)<span class="block"
                  >또한 각진 모서리가 아닌 둥근 모서리 형태로 작업해
                  주세요.</span
                >
              </p>
              <p>
                칼선은 하나의 선으로 이어지게 작업해 주세요.<span class="block"
                  >(선이 끊어져 있을 경우 뜯김 현상이 발생 할 수
                  있습니다.)</span
                >
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_02_4.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">동일한 칼선 위치</p>
              <p>칼선과 인쇄파일은 같은 위치에 배치해 주세요.</p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_02_5.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">접착면 이미지</p>
              <p>
                접착면 양쪽(붙이는 면, 붙는 면)에는 이미지 없이 비워주세요.<span
                  class="block"
                  >(접착면까지 인쇄시 접착이 떨어질 수 있습니다.)</span
                >
                접착면 크기는 15mm 이상으로 작업해 주세요.
              </p>
              <p>이미지를 칼선보다 3mm 크게 작업해 주세요.</p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_02_6.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="guide_box">
        <div class="sub_title_area">
          <p class="sub_title">윤곽선 작업 하기</p>
        </div>
        <ul class="contents_list">
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">서체(폰트) 윤곽선</p>
              <div class="text_list">
                <p>
                  레이아웃에 있는 모든 서체는 반드시 윤곽선<span
                    class="block"
                  ></span>
                  또는 확장(Expand) 처리를 해주세요.(윤곽선 또는 확장 처리를
                  하지 않은 글자는 기본 글꼴로 대체되어 인쇄될 수 있습니다.)
                </p>
              </div>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_03_1.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">둥근 모서리 모양확장</p>
              <p>모서리를 둥글게 처리한 경우 모양확장을 해주세요.</p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_03_2.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="guide_box">
        <div class="sub_title_area">
          <p class="sub_title">이미지, 효과 작업 하기</p>
        </div>
        <ul class="contents_list">
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">레스터화 하기</p>
              <div class="text_list">
                <p>
                  그라데이션, 투명도, 흐림, 필터효과, 패턴 등 효과와<span
                    class="block"
                  >
                    고정점들로 이우러진 개체는 인쇄가 반영되지 않을 수
                    있으니</span
                  >
                  레스터화를 해주세요. 오브젝트(Objact) – 레스터화(Rasterize)
                </p>
              </div>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_04_1.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">이미지 포함</p>
              <p>사용한 이미지는 반드시 포함(Embed) 시켜주세요.</p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_04_2.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">오버프린트</p>
              <p>
                칠/선 중북 인쇄(Overprint) 를 해제해 주세요.<span class="block"
                  >(창(W) - 특성) 오버프린트를 선택한 후 인쇄를 하게 되면</span
                >
                모니터와 다르게 인쇄가 됩니다.
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_04_3.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
          <li class="line"></li>
          <li class="list_item">
            <div class="text_wrap">
              <p class="caption">작업영역</p>
              <p>
                이미지를 원하시는 사이즈 보다 재단선 바깥으로<span class="block"
                  >사방 3mm 늘려서 작업해 주세요.</span
                >
                (재단시 오차가 발생 할 수 있습니다.)
              </p>
            </div>
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_detailPage_04_4.png"
                alt="표준 사이즈"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="subSection base-light">
    <div class="c_inner c_flex-column">
      <div class="title_area">
        <p class="heading2">박스가이드 주문 프로세스</p>
      </div>
      <ul class="proccess_list">
        <li class="list_item">
          <div class="title_area">
            <p class="number subHeading-white">01</p>
            <p class="stage subHeading-white">주문 및 결제 완료</p>
          </div>
          <div class="info_wrap">
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_order_payment_complete.svg"
                alt="결제완료 그래픽"
              />
            </div>
            <p class="info_text">
              견적 문의 주문건에 경우, 최종 사양 확정 및
              <span class="font-color-primary"
                >결제 완료 이후 전개도를 설계하여 전달</span
              >드립니다.
            </p>
          </div>
        </li>
        <li class="list_item">
          <div class="title_area">
            <p class="number subHeading-white">02</p>
            <p class="stage subHeading-white">디자인 교정 고객 확정</p>
          </div>
          <div class="info_wrap">
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_design_proof_confirme.svg"
                alt="디자인 교정 그래픽"
              />
            </div>
            <p class="info_text">
              인쇄 문제 생기지 않도록 접수 파일을 확인하고 필요 시 수정을
              요청합니다.
              <span class="font-color-primary"
                >고객님의 최종 확인후 제작이 시작</span
              >됩니다.
            </p>
          </div>
        </li>
        <li class="list_item">
          <div class="title_area">
            <p class="number subHeading-white">03</p>
            <p class="stage subHeading-white">제품 생산(후공정 작업)</p>
          </div>
          <div class="info_wrap">
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_product_production.svg"
                alt="제품 생산 그래픽"
              />
            </div>
            <p class="info_text">
              제품 별로 제작 기간이 상이합니다.
              <span class="font-color-primary">생산이 시작된 이후</span>에는
              주문 수정이 불가합니다.
            </p>
          </div>
        </li>
        <li class="list_item">
          <div class="title_area">
            <p class="number subHeading-white">04</p>
            <p class="stage subHeading-white">생산 완료 제품 출고</p>
          </div>
          <div class="info_wrap">
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_production_shipped.svg"
                alt="생산 완료 제품 출고"
              />
            </div>
            <p class="info_text">
              완성된 제품의 크기와 부피에 따라
              <span class="font-color-primary">출고 방식이 상이</span>합니다.
              (일반 택배 / 차량출고)
            </p>
          </div>
        </li>
        <li class="list_item">
          <div class="title_area">
            <p class="number subHeading-white">05</p>
            <p class="stage subHeading-white">제품 수령 배송비 지불</p>
          </div>
          <div class="info_wrap">
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_product_received_shipping_paid.svg"
                alt="후불 출고 방식에 대한 그래픽"
              />
            </div>
            <p class="info_text">
              <span class="font-color-primary">후불 출고 방식</span>에 경우
              제품을 수령하고 배송비를 지불해 주시면 됩니다.
            </p>
          </div>
        </li>
      </ul>
      <div class="shipping_fee_info c_flex-column-alignStart">
        <div class="title_wrap c_flex-alignCenter font-w-semi">
          <div class="img_wrap">
            <img src="../image/common/icon_info_fill.svg" alt="정보" />
          </div>
          <p class="info_text">배송비 측정 및 안내</p>
        </div>
        <ul class="text_list">
          <li>
            미리 측정된 배송비를 선불로 결제하신 일반 택배 배송건을 제외한 모든
            차량출고 건은 제품 생산 시작시점에서 배송비를 측정하여 안내드립니다.
            이때 배송비를 추가로 결제해 주시거나 배송당일 배송기사님께 후불로
            결제해 주시면 됩니다. 대략적인 배송비가 궁금하시다면
            <span class="font-w-semi">‘고객센터 > 배송안내'</span>
            페이지를 참고해 주시길 바랍니다.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="subSection">
    <div class="c_inner c_flex-column">
      <div class="title_area gap-2xs">
        <p class="heading2">박스가이드 제작 종이 패키지</p>
        <p class="h2_caption">
          무궁무진한 가능성! 내 제품에 딱 맞는 패키지를 제작해 보세요.
        </p>
      </div>
      <ul class="all_mockup_list">
        <li class="list_item">
          <div class="img_wrap">
            <img
              src="../image/product/detailPage/paper/img_mockup_01.png"
              alt="단상자 목업"
            />
          </div>
        </li>
        <li class="list_item">
          <div class="img_wrap">
            <img
              src="../image/product/detailPage/paper/img_mockup_02.png"
              alt="단상자 목업"
            />
          </div>
        </li>
        <li class="list_item">
          <div class="img_wrap">
            <img
              src="../image/product/detailPage/paper/img_mockup_03.png"
              alt="단상자 목업"
            />
          </div>
        </li>
        <li class="list_item">
          <div class="img_wrap">
            <img
              src="../image/product/detailPage/paper/img_mockup_05.png"
              alt="단상자 목업"
            />
          </div>
        </li>
        <li class="list_item">
          <div class="img_wrap logo">
            <img
              src="../image/common/logo.svg"
              alt="박스가이드 로고"
              class="logo"
            />
          </div>
        </li>
        <li class="list_item">
          <div class="img_wrap">
            <img
              src="../image/product/detailPage/paper/img_mockup_06.png"
              alt="단상자 목업"
            />
          </div>
        </li>
        <li class="list_item">
          <div class="img_wrap">
            <img
              src="../image/product/detailPage/paper/img_mockup_07.png"
              alt="단상자 목업"
            />
          </div>
        </li>
        <li class="list_item">
          <div class="img_wrap">
            <img
              src="../image/product/detailPage/paper/img_mockup_08.png"
              alt="단상자 목업"
            />
          </div>
        </li>
        <li class="list_item">
          <div class="img_wrap">
            <img
              src="../image/product/detailPage/paper/img_mockup_09.png"
              alt="단상자 목업"
            />
          </div>
        </li>
      </ul>
      <div class="content_block">
        <p class="point_copy">
          종이의 변신은 무죄! 유니크한 나만의 패키지,
          <span class="font-w-semi block"
            >빠르게 제작하고 싶다면 종이박스를 선택해 보세요!</span
          >
        </p>
        <ul class="point_list">
          <li class="list_item">
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_easy_custom.png"
                alt="커스텀 용이"
              />
            </div>
            <p class="caption">커스텀 용이</p>
          </li>
          <li class="list_item">
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_small_order.png"
                alt="소량 주문 가능"
              />
            </div>
            <p class="caption">소량 주문 가능</p>
          </li>
          <li class="list_item">
            <div class="img_wrap">
              <img
                src="../image/product/detailPage/common/img_fast_production.png"
                alt="빠른 제작 기간"
              />
            </div>
            <p class="caption">빠른 제작 기간</p>
          </li>
        </ul>
        <div class="c_section-gap-large request_button">
          <div class="c_inner">
            <div class="section_wrap">
              <a href="../Order/QuotationOrder.html" class="contents_area on">
                <div class="contents_wrap">
                  <div class="img_wrap">
                    <img src="../image/home/icon_quotation.svg" alt="견적서" />
                  </div>
                  <div class="text_wrap">
                    <div class="title">패키지 견적 요청</div>
                    <p class="subTitle">더 궁금하신 다른 내용이 있으신가요?</p>
                  </div>
                </div>
              </a>
              <a
                href="../WorkGuide/Program_illustrator.html"
                class="contents_wrap"
              >
                <div class="img_wrap">
                  <img src="../image/home/icon_boxSample.svg" alt="박스 샘플" />
                </div>
                <div class="text_wrap">
                  <div class="title">작업 가이드</div>
                  <p class="subTitle">더 자세한 작업안내가 필요하신가요?</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
