.footerTop,
.footerBottom {
  border-top: 1px solid var(--color-border-light);
}
.footerTop .contents_wrap,
.footerBottom .contents_wrap {
  padding: var(--space-lg) 0;
}
footer .footerTop .contents_wrap {
  display: flex;
  justify-content: space-between;
  gap: var(--space-4xl);
}
@media screen and (max-width: 900px) {
  footer .footerTop .contents_wrap {
    flex-wrap: wrap;
  }
}
footer .title {
  margin-bottom: var(--space-xs);
  font-size: var(--font-s-sm);
  font-weight: var(--font-w-mid);
  word-break: keep-all;
}
footer .serviceInfo_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-xl);
}
footer .serviceInfo .tel {
  font-size: var(--font-s-xl);
  font-weight: var(--font-w-semibold);
}
footer .text_container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}
footer .text_container .textBox {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}
footer .sns_list {
  display: flex;
  gap: var(--space-2xs);
}
footer .sns_list [class*="icon_wrap"] {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: var(--border-radius-full);
  border: 1px solid var(--color-border-light);
}
footer .sns_list [class*="icon_wrap"] img {
  width: 2rem;
  height: 2rem;
}
/* 푸터-메뉴 START */
footer .footerMenu_list {
  display: flex;
  justify-content: space-between;
  width: 40%;
  gap: var(--space-4xl);
}
@media screen and (max-width: 900px) {
  footer .footerMenu_list {
    justify-content: flex-start;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  footer .footerMenu_list {
    justify-content: space-between;
    gap: var(--space-xl);
  }
}
footer .footerMenu_list .subMenu_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}
footer .footerMenu_list .subMenu_list .item {
  word-break: keep-all;
}
/* 푸터-메뉴 END */

/* 푸터-계좌정보 START */
footer .bankInfo {
  flex-shrink: 0;
}
footer .bankInfo .bank_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}
footer .bankInfo .bank_list .item {
  display: flex;
  gap: var(--space-2xs);
}
footer .bankInfo .bank_list .item [class*="icon_wrap"] {
  width: 2.4rem;
}
footer .bankInfo .bank_list .item strong {
  font-weight: var(--font-w-semibold);
}
/* 푸터-계좌정보 END */
footer .footerBottom {
  font-size: 1.3rem;
}
footer .footerBottom .contents_wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
footer .footerBottom .companyInfo_container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  footer .footerBottom .companyInfo_container {
    flex-direction: column;
    gap: var(--space-xs);
  }
}
footer .footerBottom .companyInfo_container .companyInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}
footer .footerBottom .companyInfo_container .companyInfo p {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3xs);
}
footer .footerBottom .companyInfo_container .companyInfo span {
  display: flex;
}
footer .footerBottom .companyInfo_container .companyInfo span + span::before {
  content: " | ";
  display: flex;
  width: 0.1rem;
  height: 100%;
  margin: 0 var(--space-2xs);
  color: var(--color-border-mid);
}
@media screen and (max-width: 600px) {
  footer .footerBottom .companyInfo_container .companyInfo span + span::before {
    content: "";
    margin: unset;
  }
}
footer .footerBottom .companyInfo_container .name {
  font-size: var(--font-s-xs);
  font-weight: var(--font-w-semibold);
}
footer .footerBottom .companyInfo_container .pgInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background-color: var(--color-base-light);
  aspect-ratio: 1/1;
}
footer .footerBottom .copyright {
  color: var(--color-font-light);
}
