/* 이용약관 START */
/* .terms {
	color: #555;
} */
.terms .title {
  margin: 1rem 0;
  color: var(--color-font-dark);
  font-size: var(--font-s-lg);
  font-weight: var(--font-w-semibold);
  text-align: unset;
  letter-spacing: -0.1rem;
}
@media only screen and (max-width: 768px) {
  .terms .title {
    font-size: var(--font-s-md);
  }
}
.terms .sectionTitle {
  color: var(--color-font-dark);
}
.terms p {
  margin: 1rem 0;
}
.terms .section + .section {
  margin-top: var(--space-xl);
}
@media only screen and (max-width: 768px) {
  .terms .section + .section {
    margin-top: var(--space-lg);
  }
}
@media only screen and (max-width: 480px) {
  .terms .section + .section {
    margin-top: var(--space-sm);
  }
}
.terms ul {
  margin: 1rem 0;
}
.terms ul li {
  margin: 1.6rem 0;
}
.terms ul.num > li {
  margin-left: 2rem;
  list-style: decimal;
}
.terms ul.hyphen > li::before {
  content: "-";
}
.terms ul.inner_ul {
  margin: 1rem 0 1.6rem 0;
}
.terms ul.inner_ul li {
  margin: 0.4rem 0;
}
.terms .foreword {
  font-size: 1.6rem;
}
.terms .sub_title {
  color: #222;
  font-size: 1.7rem;
  font-weight: 500;
}
.terms ul li p {
  margin: 1rem 0;
}
.terms table {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.terms table th {
  color: #222;
}
.terms table th,
.terms table td {
  padding: 1rem;
}
.terms table thead th {
  font-weight: var(--font-w-mid);
  background: #f5f5f5;
  border-top: 0.1rem solid #666;
}
.terms table tbody th,
.terms table tbody td {
  vertical-align: middle;
  border: 0.1rem solid #eee;
}
.terms table tbody th:first-child {
  border-left: none;
}
.terms table tbody td:last-child {
  padding-left: 2rem;
  text-align: left;
  border-right: none;
}
.terms .table_bottom_text {
  margin-top: -1rem;
}
/* 이용약관 END */
