/* btn_wrap START */
[class*="btn_wrap"] {
  display: flex;
  flex-direction: row;
  gap: var(--space-2xs);
  padding: unset;
  width: auto;
}
[class*="btn_wrap"][class*="-column"] {
  flex-direction: column;
}
[class*="btn_wrap"][class*="-justifyBetween"] {
  justify-content: space-between;
}
[class*="btn_wrap"][class*="-full"] {
  width: 100%;
}
/* [class*="btn_wrap"][class*="-full"] button {
	flex-grow: 1;
} */
[class*="btn_wrap"][class*="-alignCenter"] {
  align-items: center;
  justify-content: center;
}
[class*="btn_wrap"][class*="-mv"] {
  margin: var(--space-sm) 0;
}
[class*="btn_wrap"][class*="-mt_xs"] {
  margin-top: var(--space-xs);
}
/* [class*="btn_wrap"] [class*="c_btn"] {
	display: flex;
	flex-direction: column;
	gap: var(--space-2xs);
	padding: unset;
} */
[class*="btn_wrap"] button {
  flex-shrink: 1;
}
@media only screen and (max-width: 480px) {
  .ManageCard [class*="btn_wrap"] {
    flex-direction: column;
  }
}
/* btn_wrap END */

/* c_btn START */
[class*="c_btn"] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2xs);
  height: var(--common-height);
  padding: 0 1em;
  font-size: var(--font-s-xs);
  font-weight: var(--font-w-mid);
  line-height: var(--common-height);
  white-space: nowrap;
  background-color: transparent;
  outline: none;
  transition: var(--transition-fast);
}
[class*="c_btn"]:hover {
  opacity: 0.8;
}
[class*="c_btn"][class*="-round"] {
  border-radius: var(--border-radius-xs);
}
[class*="c_btn"][class*="-border-circle"] {
  border-radius: var(--border-radius-full);
}
/* c_btn END */

/* 색상별 */
[class*="c_btn"][class*="-primary"] {
  border: none;
  color: var(--color-primary-contrast);
  background-color: var(--color-primary);
  font-weight: var(--font-w-regular);
}
[class*="c_btn"][class*="-primary"][class*="reverse"] {
  color: var(--color-primary);
  background-color: var(--color-primary-contrast);
  border: 1px solid var(--color-primary);
}
[class*="c_btn"][class*="-primary"][class*="gradient"] {
  background: linear-gradient(
    315deg,
    rgba(18, 110, 232, 1) 0%,
    rgba(107, 88, 203, 1) 80%
  );
}
[class*="c_btn"][class*="-secondary"] {
  border: none;
  color: var(--color-secondary-contrast);
  background-color: var(--color-secondary);
}
[class*="c_btn"][class*="-secondary"][class*="reverse"] {
  color: var(--color-secondary);
  background-color: var(--color-secondary-contrast);
  border: 1px solid var(--color-secondary);
}
[class*="c_btn"][class*="-point"] {
  border: none;
  color: var(--color-primary-contrast);
  background-color: var(--color-point);
}
[class*="c_btn"][class*="-point"][class*="reverse"] {
  color: var(--color-point);
  background-color: var(--color-point-contrast);
  border: 1px solid var(--color-point);
}
[class*="c_btn"][class*="-gray"] {
  color: var(--color-font-dark);
  border: 1px solid var(--color-border-light);
  background-color: var(--color-base-light);
}
[class*="c_btn"][class*="-gray"][class*="reverse"] {
  color: var(--color-font-mid);
  background-color: var(--color-white);
  border: 1px solid var(--color-font-mid);
}
[class*="c_btn"][class*="-white"] {
  border: 1px solid var(--color-border-mid);
  background-color: #fff;
}
[class*="c_btn"][class*="-white-reverse"] {
  color: var(--color-font-mid);
  border: 1px solid var(--color-border-mid);
  background-color: rgba(255, 255, 255, 0);
}
[class*="c_btn"][class*="-midDark"] {
  color: #fff;
  border: none;
  background-color: var(--color-base-mid-dark);
}
[class*="c_btn"][class*="-dark"] {
  color: #fff;
  border: none;
  background-color: var(--color-base-dark);
}
[class*="c_btn"][class*="-black"] {
  border: none;
  color: var(--color-primary-contrast);
  background-color: #000;
}
[class*="c_btn"][class*="-black-reverse"] {
  color: var(--color-font-dark);
  border: 1px solid var(--color-border-dark);
  background-color: rgba(255, 255, 255, 0);
}
[class*="c_btn"][class*="-black-reverse"]:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
}
[class*="c_btn"]:disabled {
  background-color: var(--color-base-mid);
}

/* 크기별 */
[class*="c_btn"][class*="-full"] {
  width: 100%;
}
[class*="c_btn"][class*="-submit"] {
  width: fit-content;
  padding: 0 var(--space-2xl);
}
[class*="c_btn"][class*="-small"] {
  height: 3.2rem;
  padding: 0 var(--space-2xs);
  /* font-size: var(--font-s-sm);
	font-weight: var(--font-w-mid); */
}
[class*="c_btn"][class*="-large"] {
  height: 4.4rem;
  font-size: var(--font-s-sm);
}
[class*="c_btn"][class*="-xlarge"] {
  height: 4.8rem;
  padding-left: calc(var(--space-2xl) + var(--space-2xs)) ;
  font-size: var(--font-s-md);
  font-weight: var(--font-w-regular);
}
[class*="c_btn"][class*="_custom_xlarge"] {
  height: 4.8rem;
  font-size: var(--font-s-md);
  font-weight: var(--font-w-regular);
  padding: 0 var(--space-md);
  padding-left: calc(var(--space-md) + var(--space-3xs));
}
[class*="c_btn"][class*="_custom_xlarge"]::after {
  content: '';
  background: url(../../image/common/icon_next_white.svg) center center no-repeat;
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 480px) {
  [class*="c_btn"][class*="-large"] {
    height: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  [class*="c_btn"][class*="-submit"] {
    width: 100%;
  }
}

/* 기타 */
[class*="c_btn"][class*="disabled"]:not([class*="btn_wrap"]),
[class*="c_btn"][class*="gray"]:not([class*="btn_wrap"]):disabled {
  opacity: 0.3;
  cursor: default;
}
.btnSelectFile {
  min-width: max-content;
  padding: var(--space-3xs) var(--space-xs);
  font-size: 1.6rem;
}
.btnSelectFile img {
  max-width: 2rem;
}

/* 아이콘 추가 */
[class*="c_btn"][class*="add_icon"] {
  gap: unset;
}
[class*="c_btn"][class*="add_icon"][class*="-router"]::after {
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(/image/common/icon_next_gray.svg);
}
