/* =========================================
   - 레이아웃 관련 유틸리티 클래스들
   - 'c_'를 꼭 붙여줍니다.
   ======================================== */

/* ===== 컨테이너 ===== */

.c_inner {
  max-width: 1920px;
  height: 100%;
  padding-left: var(--inner-space);
  padding-right: var(--inner-space);
}
.container {
  width: 100%;
}
