.main {
  background: linear-gradient(to bottom, #000000 0%, #000000 30%, #272e5b 100%);
}
.hero {
  height: 100svh;
  padding: var(--header-height) 0 0 0;
  background: url(../../assets/images/home/hero_bg.jpg) no-repeat center center;
}
.hero .textWrap {
  padding-bottom: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.heroTitle {
  font-family: "Gemola", serif;
  font-size: 20rem;
  font-weight: normal;
  line-height: 1;
  transform: translateY(10%);
  opacity: 0;
  animation: fadeinUp 1s forwards;
  margin-bottom: var(--space-md);
}
@keyframes fadeinUp {
  100% {
    transform: translateY(0%);
    opacity: 0.3;
  }
}

.hero .subText {
  font-size: var(--font-size-xl);
  animation: fadein 0.7s 0.6s forwards;
  opacity: 0;
}
@keyframes fadein {
  100% {
    opacity: 0.6;
  }
}
.sectionTitle {
  font-family: "Gemola", serif;
  font-weight: normal;
  line-height: 1;
  font-size: var(--font-size-7xl);
  color: var(--color-text-lighter);
}
.subText {
  margin-top: var(--space-xs);
  font-size: var(--font-size-lg);
  color: var(--color-text-light);
}
.skill .c_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--space-7xl);
}
.skill .left {
  position: sticky;
  top: var(--header-height);
  min-width: 46rem;
  height: fit-content;
}
.skill .right {
  width: 100%;
}
.skill .right .cardList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-xl);
}
.skill .right .cardList > .list_item {
  width: calc(100% / 2 - var(--space-sm));
  padding: var(--space-2xl);
  background-color: rgba(38, 45, 92, 0.3);
  color: var(--color-text-lighter);
  border-radius: var(--radius-32);
  height: fit-content;
}
/* .skill .right .cardList > .list_item:nth-child(2n) {
  margin-top: 8rem;
} */
.skill .right .cardList > .list_item .wrap {
  gap: var(--space-md);
}
.skill .right .cardList > .list_item .img_wrap {
  width: 6rem;
}
.skill .right .cardList > .list_item .text {
  margin-top: var(--space-2xs);
}
.skill .right .cardList .tagList {
  margin-top: var(--space-sm);
  display: flex;
  gap: var(--space-2xs);
}
.skill .right .tagList .list_item {
  padding: var(--space-3xs) var(--space-xs);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--color-text-light);
  border-radius: var(--radius-8);
  font-size: var(--font-size-2xs);
}
.mgTop {
  margin-top: 10rem;
}
