<footer>
  <div class="footerTop">
    <div class="c_inner">
      <div class="contents_wrap">
        <div class="serviceInfo_container">
          <div class="serviceInfo">
            <p class="title">이용안내</p>
            <div class="text_container">
              <p class="tel">02-0000-0000</p>
              <div class="textBox">
                <p>운영시간 : 평일 09:00 ~ 18:00</p>
                <p>점심시간 : 12:00 ~ 13:30</p>
                <p>(토/일/공휴일 휴무)</p>
              </div>
            </div>
          </div>
        </div>
        <ul class="footerMenu_list">
          <li class="item">
            <p class="title">소개 및 안내</p>
            <ul class="subMenu_list">
              <li class="item">
                <a href="/">작업가이드</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <p class="title">고객센터</p>
            <ul class="subMenu_list">
              <li class="item">
                <a href="../Customer/NoticeList.html">공지사항</a>
              </li>
              <li class="item">
                <a href="../Customer/QA.html">Q&A</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <p class="title">약관</p>
            <ul class="subMenu_list">
              <li class="item">
                <a href="../Terms/Terms.html">이용약관</a>
              </li>
              <li class="item">
                <a href="../Terms/Individual.html">개인정보취급방침</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="bankInfo">
          <p class="title">입금계좌 정보</p>
          <ul class="bank_list">
            <li class="item">
              <span>예금주 : <strong>서비스명(담당자명)</strong></span>
            </li>
            <li class="item">
              <div class="icon_wrap">
                <img src="../image/common/img_kb.svg" alt="kb 아이콘" />
              </div>
              <span>xx은행 : xxxxxx-xx-xxxxxx</span>
            </li>
            <li class="item">
              <div class="icon_wrap">
                <img src="../image/common/img_ibk.svg" alt="ibk 아이콘" />
              </div>
              <span>xx은행 : xxx-xxxxxx-xx-xxx</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="c_inner">
      <div class="contents_wrap">
        <div class="companyInfo_container">
          <div class="companyInfo">
            <p class="name">(주)서비스명</p>
            <p>
              <span class="info"
                ><span class="label">대표이사</span>담당자명</span
              >
              <span class="info"
                ><span class="label">주소</span>주소 영역입니다.</span
              >
            </p>
            <p>
              <span class="info"
                ><span class="label">대표번호</span>02-0000-0000</span
              >
              <span class="info"
                ><span class="label">팩스번호</span>02-0000-0000</span
              >
              <span class="info"
                ><span class="label">이메일</span>test@test.com</span
              >
              <span class="info"
                ><span class="label">개인정보책임자</span>담당자명</span
              >
            </p>
            <p>
              <span class="info"
                ><span class="label">사업자등록번호</span>000-00-00000</span
              >
              <span class="info"
                ><span class="label">통신판매허가번호</span>통신판매번호
                영역입니다.</span
              >
            </p>
            <p class="copyright">
              COPYRIGHT (C) 2024 서비스명 ALL RIGHT RESERVED.
            </p>
          </div>
          <div class="pgInfo">
            <div class="textBox">
              <p class="pgName">페이</p>
              <p class="businessNumber">사업자 등록번호 : 000-00-00000</p>
              <p class="description">
                본 쇼핑몰은 구매안전서비스를 지원합니다.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
