<nav class="lnb">
  <!-- comment: .lnb_list > .item 클릭 시 .on 추가 -->
  <ul class="lnb_list">
    <li class="item on">
      <p class="title">나의 주문정보</p>
      <!-- comment: .sub_list > .item 클릭 시 .on 추가 -->
      <ul class="sub_list">
        <li class="item on">
          <a href="MyPageHome.html">마이페이지</a>
        </li>
        <li class="item">
          <a href="Basket.html">장바구니</a>
        </li>
        <li class="item">
          <a href="PayWaiting.html">결제대기</a>
        </li>
        <li class="item">
          <a href="OrderHistory.html">주문내역</a>
        </li>
        <li class="item">
          <a href="EstiHistory.html">견적내역</a>
        </li>
      </ul>
    </li>
    <li class="item">
      <p class="title">나의 회원정보</p>
      <ul class="sub_list">
        <li class="item">
          <a href="MemberInfo.html">회원정보 관리</a>
        </li>
        <li class="item">
          <a href="DeliveryInfo.html">배송지 관리</a>
        </li>
        <li class="item">
          <a href="BankInfo.html">가상계좌 관리</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
