<nav class="lnb">
  <!-- comment: .lnb_list > .item 클릭 시 .on 추가 -->
  <ul class="lnb_list">
    <li class="item on">
      <p class="title">작업유의사항</p>
      <ul class="sub_list">
        <!-- comment: .sub_list > .item 클릭 시 .on 추가 -->
        <li class="item on">
          <a href="Program_illustrator.html">프로그램별</a>
        </li>
        <li class="item">
          <a href="Category_nc.html">품목별</a>
        </li>
        <li class="item">
          <a href="PDF_setting.html">PDF 가이드</a>
        </li>
        <li class="item">
          <a href="Delivery.html">출고/배송</a>
        </li>
        <li class="item">
          <a href="Price.html">가격/환불</a>
        </li>
        <li class="item">
          <a href="Reorder.html">재작업</a>
        </li>
        <li class="item">
          <a href="CommonGuide.html">주요공통사항</a>
        </li>
        <li class="item">
          <a href="Regulation.html">작업규약</a>
        </li>
      </ul>
    </li>
    <!-- <li class="item">
      <p class="title">칼선 다운로드</p>
      <ul class="sub_list">
        <li class="item">
          <a href="NoticeList.html">칼선 논의</a>
        </li>
      </ul>
    </li> -->
    <li class="item">
      <p class="title">후공정 보기</p>
      <ul class="sub_list">
        <li class="item">
          <a href="After_rounding.html">귀돌이</a>
        </li>
        <li class="item">
          <a href="After_numbering.html">넘버링</a>
        </li>
        <li class="item">
          <a href="After_thomson.html">톰슨</a>
        </li>
        <li class="item">
          <a href="After_missing.html">절취선</a>
        </li>
        <li class="item">
          <a href="After_foil.html">박</a>
        </li>
        <li class="item">
          <a href="After_pushLine.html">누름선</a>
        </li>
        <li class="item">
          <a href="After_coating.html">코팅</a>
        </li>
        <li class="item">
          <a href="After_binding.html">제본</a>
        </li>
        <li class="item">
          <a href="After_punching.html">타공</a>
        </li>
        <li class="item">
          <a href="After_pressure.html">형압</a>
        </li>
        <li class="item">
          <a href="After_embossing.html">엠보싱</a>
        </li>
        <li class="item">
          <a href="After_folding.html">접지양식</a>
        </li>
        <li class="item">
          <a href="#">잠자가공</a>
        </li>
        <li class="item">
          <a href="After_tape.html">양면테잎</a>
        </li>
        <li class="item">
          <a href="After_hangingBanner.html">현수막</a>
        </li>
        <li class="item">
          <a href="After_shoppingBag.html">쇼핑백</a>
        </li>
        <li class="item">
          <a href="After_scratch.html">스크레치</a>
        </li>
        <li class="item">
          <a href="After_window.html">창문가공</a>
        </li>
      </ul>
    </li>
    <li class="item">
      <p class="title">용지 안내</p>
      <ul class="sub_list">
        <li class="item">
          <a href="Paper_normalPaper.html">일반지</a>
        </li>
        <li class="item">
          <a href="Paper_importedPaper.html">수입지</a>
        </li>
        <li class="item">
          <a href="Paper_card.html">카드명함</a>
        </li>
        <li class="item">
          <a href="Paper_st.html">스티커</a>
        </li>
        <li class="item">
          <a href="Paper_flyer.html">전단지</a>
        </li>
        <li class="item">
          <a href="Paper_ev.html">봉투</a>
        </li>
        <li class="item">
          <a href="Paper_ncr.html">NCR지</a>
        </li>
        <li class="item">
          <a href="Paper_leaflet.html">리플렛/카다로그</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
